.pokemon-stats {
    font-family: "Audiowide", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}

.stats {
    display: flex;
    flex-direction: row;
    align-items: self-start;
    gap: 3em;
}

.win-stats {
    font-size: 1.5em; 
    }
/* 
.pokemon-stats */