
.battle-prompt {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    justify-content: center;
}
.battle-prompt h1{
    margin: 0px;
}
.game {
    flex-grow: 2;
    margin: 1em;
}

.pokemons {
    display: flex;
    flex-direction: row;
}

.pokemon-div {
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.play-prompt {
    font-size: larger;
    text-shadow: 2px 2px 8px white;
}

.win-prompt {
    color: green;
}

.loss-prompt {
    color: red;
}

.win-rate {
    display: inline-block;
    border-radius: 50%;
    background-color: yellow;
    color: black;
    text-align: center;
    line-height: 30px; /* Center the text vertically */
    padding: 2%;
  }